/* color variables */
:root {
  --color-bg: #04aa6d;
  --color-1: #b9eed9;
  --color-2: #73d2ab;
  --color-3: #3eb488;
  --color-4: #0e4d92;
  --color-5: #269ed3;
  --color-6: #48cbe6;
  --color-text: #161925;
}

.App {
  text-align: center;
}

.question-card {
  margin: 0 auto;
  padding: 16px;

  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: bold;
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

  width: 80%;
  height: auto;
}

ul {
  list-style: none;
}

li {
  background-color: var(--color-2);
  margin-top: 8px;
  padding: 16px;
  border: 2px solid var(--color-text);
  border-radius: 20px;
  font-size: 20px;
}

.question-text {
  color: var(--color-1);
  font-size: 24px;
}

.final-results {
  margin: 0 auto;
  padding: 16px;

  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: bold;
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

  width: 50%;
  height: auto;

}

/* button */

button {
  min-width: 100px;
  min-height: 30px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: #282828;
  border: solid 1px #282828;
  box-shadow: 0 0 5px 0 #34495e;
  border-radius: 5px;
}

button:hover {
  background-color: #04aa6d;
  color: white;
}

button:active {
  background-color: white;
  color: #04aa6d;
}